.container {
	margin: 20px 15%;
	padding: 30px 40px;
	border-style: solid;
	border-color: blue;
}
.jumbotron {
	background-image: url(https://img-aws.ehowcdn.com/877x500p/photos.demandstudios.com/getty/article/178/19/87467156.jpg);
    background-size: 100% 100%;
    color: red;
    font-family: 'Orbitron', sans-serif;
}
.jumboHeader {
	margin: 3%;
	font-weight: bolder;
	font-size: 24px;
}